/Database/nbproject/private/
/Database/build/
/DatabaseGUI/nbproject/private/
/DatabaseGUI/build/
/DatabaseGUI/dist/
/JavaGameITI/nbproject/private/
/JavaGameITI/build/
/JavaGameITI/dist/
/Last_version/nbproject/private/
/Last_version/build/
/Last_version/dist/
.idea
